/* IMPRESSUM: */
/* (c) Martin Sonnberger 2021 */
/* Dieses Projekt ist im Rahmen des */
/* MultiMediaTechnology Bachelorstudiums */
/* an der FH Salzburg entstanden. */
/* Kontakt: msonnberger.mmt-b2020@fh-salzburg.ac.at */

.imprint-wrapper {
  margin: 0 2rem;
  text-align: center;
  width: min(60rem, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  line-height: 1.5;
}

.imprint-text,
.privacy-text {
  max-width: 48rem;
}

a {
  color: var(--dark);
}

h2 {
  margin-bottom: 0;
}

.license-heading {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.license-text {
  font-family: 'Source Code Pro', monospace;
}

.license-paragraph {
  text-align: left;
  font-size: 1.8rem;
}
