body {
  justify-content: flex-start;
}

p {
  max-width: 48rem;
  line-height: 1.5;
  text-align: center;
}

a {
  color: var(--dark);
}

h2 {
  margin-bottom: 0;
}

.license-heading {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.license-text {
  font-family: 'Source Code Pro', monospace;
}

.license-paragraph {
  text-align: left;
  font-size: 1.8rem;
  max-width: 60rem;
}
